html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

#heading {
  width: 100%;
  margin: 1em;
  display: inline-flex;
}

#title {
  font-size: 20px;
  width: 100%;
}

.fa-bars {
  float: right;
  padding-right: 1.5em;
  color: #525454;
}

.fa-bars:hover {
  color: #b8c5d1;
}

#drawer {
  z-index: 1;
  background: #fff;
  border: 1px solid #525454;
  border-radius: 2px;
  height: 100%;
  padding: 20px 10px 30px 10px;
  text-align: left;
  width: 200px;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

#drawer.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#hideAllPlaces,
#showAllPlaces {
  width: 48.8%;
}

#search {
  width: 183px;
  padding-right: 1em;
  margin: .5em 0 1em 0;
}

.place-title {
  color: #525454;
  line-height: 1.5em;
}

.place-title:hover {
  color: #b8c5d1;
  cursor: default;
}

#map {
  bottom:0px;
  height: 90%;
  width: 100%;
  position: absolute;
}

#zoom-to-area-text {
  width: 70%;
}

#zoom-to-area {
  width: 24%;
}